body{
    margin: 0px;
    /* background-color: crimson; */
}
.main-content{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(5, 61, 5) ;
    margin: 20px;
    
}
.sidebar{
    font-family:monospace;
    color: darkolivegreen;
    margin: 20px;
}
h1{
    background-color: darkolivegreen;
    color: cornsilk;
    text-align: center;
    margin: 0px 0px 0px 0px ;
    size: 72px;
    padding: 20px 20px 20px 20px; 
}

img{
    height:40%;
    width: 100%;
 }

 .subheadings{
     background-color: rgb(197, 197, 123);
     padding: 10px;
     font: 42px ;
     border-bottom-style: solid;
     border-bottom-width:  5px; 
     border-bottom-color: rgb(53, 70, 20);
 }