body {
  margin: 0px;
  /* background-color: crimson; */
}
.main-content {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(5, 61, 5);
  margin: 20px;
}
.sidebar {
  background-color: rgb(214, 235, 172);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: darkolivegreen;
  padding: 20px;
  margin: 20px 20px 20px 0px;
  width: 275px;
}
h1 {
  background-color: darkolivegreen;
  color: cornsilk;
  text-align: center;
  margin: 0px;
  size: 72px;
  padding: 20px;
}

img {
  width: 100%;
}

.subheadings {
  background-color: rgb(214, 214, 136);
  padding: 10px;
  font: 42px;
  border-bottom: solid 5px rgb(53, 70, 20);
  margin: 0px;
}

.bold {
  color: rgb(35, 51, 36);
}

.container {
  max-width: 1000px;
  margin: auto;
}

.column {
  display: flex;
}

a:hover {
  color: rgb(14, 85, 29);
}
